body {
	font-family: "微软雅黑", "Times New Roman", "serif";
}

.buttons-row {
	text-align: center;
	margin: 0 auto;
	width: 50%;
}

.content {
	background-color: white;
	padding: .2rem 1rem 0 1rem;
}

.exam-content {
	font-size: .8rem;
}

.exam-img {
	padding: .2rem 1rem 0 1rem;
}

.exam-item {
	padding: .3rem 1rem .3rem 1rem;
	font-size: .7rem;
}

.exam-item span {
	display: block;
	position: absolute;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	height: 24px;
	line-height: 20px;
	width: 24px;
	text-align: center;
	color: #666;
	border: 1px solid #666
}

.exam-itemcon {
	padding-left: 30px;
}

.tab-item {
	padding: 0 !important;
	margin: 0 !important;
}

.bar-tab {
	height: 1.9rem;
}

.bar-tab .tab-item {
	height: 1.9rem;
}

.external {
	font-size: .7rem;
}

.icon {
	font-size: .9rem !important;
}

h4 {
	text-align: center;
	margin-bottom: .5rem;
}

.exam-explain {
	color: #b28850;
	font-size: .6rem;
}

.itempractice {
	font-size: .7rem;
	background: white;
	text-align: center;
	padding-bottom: 1rem;
	padding-top: 1rem;
	margin-top: .5rem;
	border: solid 1px #efeff4;
}

.itemprivate {
	font-size: .7rem;
	background: white;
	padding-left: .8rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
	border: solid 1px #efeff4;
}

.line-kuan {
	margin-top: .5rem;
}

.lineblue {
	margin: .7rem 1.5rem;
	background-color: #8d8def;
	height: 6px;
}

.lineyellow {
	margin: .7rem 1.5rem;
	background-color: #e8c64a;
	height: 6px;
}

.linegreen {
	margin: .7rem 1.5rem;
	background-color: #3fb986;
	height: 6px;
}

.advertise {
	height: 160px;
	color: white;
}

.itempractice-icon {
	font-size: 1rem;
}